In [199]:
# Library imports
import pandas as pd
import numpy as np
import requests
import xlsxwriter
import math
import matplotlib.pyplot as plt
import webbrowser

In [151]:
stocks = pd.read_csv('sp500_companies.csv')
stocks.sort_values("Symbol",ascending=True).reset_index(drop=True)

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
0,NYQ,A,"Agilent Technologies, Inc.","Agilent Technologies, Inc.",Healthcare,Diagnostics & Research,134.51,38415384576,1.564000e+09,-0.056,Santa Clara,CA,United States,17400.0,"Agilent Technologies, Inc. provides applicatio...",0.000691
1,NMS,AAPL,Apple Inc.,Apple Inc.,Technology,Consumer Electronics,254.49,3846819807232,1.346610e+11,0.061,Cupertino,CA,United States,164000.0,"Apple Inc. designs, manufactures, and markets ...",0.069209
2,NYQ,ABBV,AbbVie Inc.,AbbVie Inc.,Healthcare,Drug Manufacturers - General,175.58,310274424832,2.563000e+10,0.038,North Chicago,IL,United States,50000.0,"AbbVie Inc. discovers, develops, manufactures,...",0.005582
3,NMS,ABNB,"Airbnb, Inc.","Airbnb, Inc.",Consumer Cyclical,Travel Services,134.21,83850649600,1.673000e+09,0.099,San Francisco,CA,United States,6907.0,"Airbnb, Inc., together with its subsidiaries, ...",0.001509
4,NYQ,ABT,Abbott Laboratories,Abbott Laboratories,Healthcare,Medical Devices,114.23,198127370240,1.082500e+10,0.049,North Chicago,IL,United States,114000.0,"Abbott Laboratories, together with its subsidi...",0.003565
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,NYQ,XYL,Xylem Inc.,Xylem Inc.,Industrials,Specialty Industrial Machinery,117.14,28458575872,1.689000e+09,0.013,Washington,DC,United States,23000.0,"Xylem Inc., together with its subsidiaries, en...",0.000512
498,NYQ,YUM,"Yum! Brands, Inc.","Yum! Brands, Inc.",Consumer Cyclical,Restaurants,132.36,36937969664,2.608000e+09,0.069,Louisville,KY,United States,35000.0,"Yum! Brands, Inc., together with its subsidiar...",0.000665
499,NYQ,ZBH,"Zimmer Biomet Holdings, Inc.","Zimmer Biomet Holdings, Inc.",Healthcare,Medical Devices,107.12,21324808192,2.557400e+09,0.040,Warsaw,IN,United States,18000.0,"Zimmer Biomet Holdings, Inc., together with it...",0.000384
500,NMS,ZBRA,Zebra Technologies Corporation,Zebra Technologies Corporation,Technology,Communication Equipment,393.04,20273004544,8.030000e+08,0.313,Lincolnshire,IL,United States,9750.0,"Zebra Technologies Corporation, together with ...",0.000365
501,NYQ,ZTS,Zoetis Inc.,Zoetis Inc.,Healthcare,Drug Manufacturers - Specialty & Generic,164.84,74370031616,3.764000e+09,0.110,Parsippany,NJ,United States,14100.0,"Zoetis Inc. engages in the discovery, developm...",0.001338

In [152]:
# importing Our list of stocks

stocks = pd.read_csv('sp500_companies.csv')

df = pd.DataFrame({
    "Ticker": stocks["Symbol"],
    "Stock_Price": stocks["Currentprice"],
    "Marketcap (Trillions)": stocks["Marketcap"] / 1_000_000_000_000,
    "Number of Share To Buy":"N/A"
})


df_sorted = df.sort_values(by="Ticker", ascending=True).reset_index(drop=True)
df_sorted

    Ticker  Stock_Price  Marketcap (Trillions) Number of Share To Buy
0        A       134.51               0.038415                    N/A
1     AAPL       254.49               3.846820                    N/A
2     ABBV       175.58               0.310274                    N/A
3     ABNB       134.21               0.083851                    N/A
4      ABT       114.23               0.198127                    N/A
..     ...          ...                    ...                    ...
497    XYL       117.14               0.028459                    N/A
498    YUM       132.36               0.036938                    N/A
499    ZBH       107.12               0.021325                    N/A
500   ZBRA       393.04               0.020273                    N/A
501    ZTS       164.84               0.074370                    N/A

[502 rows x 4 columns]

In [153]:
#  Looping through the ticker in our List of stocks
def chunks(lst,n):
    for i in range(0,len(lst),n):
        yield lst[i:i+n]

In [165]:
# Converting into groups of every stocks
symbol_groups=list(chunks(df_sorted['Ticker'],100))
symbol_strings=[]
for i in range(0,len(symbol_groups)):
    symbol_strings.append(",".join(symbol_groups[i]))

df_sorted

    Ticker  Stock_Price  Marketcap (Trillions) Number of Share To Buy
0        A       134.51               0.038415                    N/A
1     AAPL       254.49               3.846820                    N/A
2     ABBV       175.58               0.310274                    N/A
3     ABNB       134.21               0.083851                    N/A
4      ABT       114.23               0.198127                    N/A
..     ...          ...                    ...                    ...
497    XYL       117.14               0.028459                    N/A
498    YUM       132.36               0.036938                    N/A
499    ZBH       107.12               0.021325                    N/A
500   ZBRA       393.04               0.020273                    N/A
501    ZTS       164.84               0.074370                    N/A

[502 rows x 4 columns]

In [193]:
# Calculating the number of shares to BUY


portfolio_size=(input("Enter the value of your portfolio:- "))

try:
    val=float(portfolio_size)
except ValueError:
    print("That is not a number! \nPlease try again: ")
    portfolio_size=input("Enter the value of your portfolio: ")
    val=float(portfolio_size)

Enter the value of your portfolio:-  200000

In [194]:
position_size=val/len(df_sorted.index)
for i in range(0,len(df_sorted.index)):
   df_sorted.loc[i,'Number of Share To Buy']=math.floor(position_size/df_sorted.loc[i,"Stock_Price"])
# number_of_apple_share=position_size/254.59 # Here you can not buy shares in fraction so nearby 
# print(math.floor(number_of_apple_share))

In [197]:
df_sorted.head(2)

  Ticker  Stock_Price  Marketcap (Trillions) Number of Share To Buy
0      A       134.51               0.038415                      2
1   AAPL       254.49               3.846820                      1

In [252]:
# Formating our excel output
writer= pd.ExcelWriter('Recommended trades.xlsx',engine='xlsxwriter')
df_sorted.to_excel(writer,'Recommended Trades',index=False)

C:\Users\lalan\AppData\Local\Temp\ipykernel_13352\1476943314.py:3: FutureWarning: Starting with pandas version 3.0 all arguments of to_excel except for the argument 'excel_writer' will be keyword-only.
  df_sorted.to_excel(writer,'Recommended Trades',index=False)

In [253]:
#  Creating formats for .xlsx file

background_color="#0a0a23"
font_color="#ffffff"

string_format=writer.book.add_format(
    {
        'font_color':font_color,
        'bg_color':background_color,
        'border':1
    }
)
dollar_format=writer.book.add_format(
    {
        'num_format':'$0.00',
        'font_color':font_color,
        'bg_color':background_color,
        'border':1
    }
)
integer_format=writer.book.add_format(
    {
        'num_format':'0',
        'font_color':font_color,
        'bg_color':background_color,
        'border':1
    }
)

In [254]:
# Applying Formmats to the columns

# writer.sheets['Recommended Trades'].set_column('A:A',18,string_format)
# writer.sheets['Recommended Trades'].set_column('B:B',18,string_format)
# writer.sheets['Recommended Trades'].set_column('C:C',18,string_format)
# writer.sheets['Recommended Trades'].set_column('D:D',18,string_format)

# writer.close()


writer.sheets['Recommended Trades'].write('B1','Stock_Price',dollar_format)
writer.sheets['Recommended Trades'].write('C1','Marketcap (Trillions)',dollar_format)
writer.sheets['Recommended Trades'].write('D1','Number of Share To Buy',integer_format)

0

In [255]:
column_format={
    'A':['Ticker',string_format],
    'B':['Stock_Price',dollar_format],
    'C':['Marketcap (Trillions)',dollar_format],
    'D':['Number of Share To Buy',integer_format]
}


for column in column_format.keys():
    writer.sheets['Recommended Trades'].set_column(f'{column}:{column}',18,column_format[column][1])
    writer.sheets['Recommended Trades'].write(f'{column}1',column_format[column][0],column_format[column][1])
writer.close()